[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
unstructured = "*"
pandas = "*"
pdfkit = "*"
sentence-transformers = "*"
faiss-cpu = "*"
transformers = "*"
accelerate = "*"
llama-cpp-python = "*"
weasyprint = "*"

[dev-packages]

[requires]
python_version = "3.13"
